beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
Django==2.1.1
django-filter==2.0.0
djangorestframework==3.8.2
html2text==2018.1.9
html5lib==1.0.1
idna==2.7
lxml==4.2.4
Markdown==2.6.11
pytz==2018.5
requests==2.19.1
robobrowser==0.5.3
six==1.11.0
urllib3==1.23
webencodings==0.5.1
Werkzeug==0.14.1
