<html>

<head>
    <title>Pantomath</title>
    <link rel="shortcut icon" type="image/ico" href="/stc/img/favicon.ico" />
    <script src="/stc/lib/jquery.min.js"></script>
</head>

<body>
    <h1>Welcome!</h1>
    <h4>Revoke API Access</h4>
    <form id="keys" action='/admin/keys'>
        <label for='admin_secret'>Your Admin Secret</label>
        <input type='password' name='admin_secret' placeholder='My Precious' required>
        <br />
        <label for='application_name'>Enter Application Name</label>
        <input type='text' name='application_name' placeholder='theHelloWorldApp' required>
        <br /> <br>
        <label for='revoke'>Revoke API Access: </label>
        <br>
        <input type='submit' name='revoke' value='Revoke!'>
    </form>
    <br>
    <div style="margin: 2%; text-align: center; display: none" id='loading'>
        <figure>
            <img src='/stc/img/loading.gif'>
        </figure>
        <h3>Revoking access</h3>
    </div>

    <script>
        // Handle form submission
        $('#keys').submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            $('#loading').show();

            let form = $(this);
            let url = form.attr('action');

            $.ajax({
                type: "DELETE",
                url: url,
                data: form.serialize(),
                contentType: 'application/x-www-form-urlencoded',
                success: function (responseData, textStatus, jqXHR) {
                    $('#loading').hide();
                    setTimeout(() => {
                        alert(responseData.status);
                        window.location = '/admin';
                    }, 100);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#loading').hide();
                    setTimeout(() => {
                        if (!jqXHR.responseJSON) {
                            alert('BAD REQUEST');
                        } else {
                            alert(jqXHR.responseJSON.error);
                        }
                    }, 100);
                }
            });

            console.log('form submitted')
        });
    </script>
</body>

</html>